<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>




<!------ Include the above in your HEAD tag ---------->
<body class="usuariobackground">

<div class="container">
    <h1 class="well">Cadastro Usuário</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="form-group">
							<label>Nome</label>
							<input id="nome" name="nome" type="text" placeholder="Nome"  [(ngModel)]="usuario.nome" class="form-control input-md">
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Telefone</label>
								<input id="telefone" name="telefone" type="text" placeholder="(99) 9 9999-9999"  [(ngModel)]="usuario.telefone" class="form-control input-md">
							</div>
							<div class="col-sm-4 form-group">
								<label>Senha</label>
								<input id="senha" name="senha" type="password" placeholder="senha"  [(ngModel)]="usuario.senha" class="form-control input-md" required="">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Cliente</label>
                <select id="idCliente" name="cliente" class="form-control" [(ngModel)]="usuario.cliente">
                  <option value="0" selected>Selecione</option>
                  <option *ngFor="let c of clientes" [ngValue]="c">{{c.nome}}</option>
              </select>
							</div>
							<div class="col-sm-6 form-group">
								<label>Perfil do Usuario</label>
                <select id="idPerfilUsuario" name="perfilUsuario" class="form-control" [(ngModel)]="usuario.perfilUsuario">
                  <option value="0" selected>Selecione</option>
                  <option *ngFor="let c of perfis" [ngValue]="c">{{c.descricao}}</option>
              </select>
							</div>
						</div>
					<div class="form-group">
						<label>Email</label>
						  <input id="email" name="email" type="text" placeholder="Email"    [(ngModel)]="usuario.email" class="form-control input-md">
					</div>
          <div class="control-group">
            <label class="control-label" class="col-lg-4 col-md-4 col-sm-2  col-xs-5 control-label" for="button1id"></label>
            <div class="controls">
              <button id="cadastrar" name="cadastrar" (click)="save()" class="btn btn-success">Confirmar Cadastro</button>
              <button id="Voltar" name="Voltar" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
					</div>
				</form>
				</div>
	</div>
	</div>


</body>
<script type="text/javascript">
  $(document).ready(function() {
      $('#idPerfilUsuario').select2();
  });
</script>
