<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body class="clientebackground">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend align="center"> Cadastro de Cliente</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-lg-4 col-md-4 col-sm-4  col-xs-5  control-label" for="nome">Nome:</label>
  <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
  <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-lg-4 col-md-4 col-sm-4  col-xs-5  control-label" for="telefone">Telefone:</label>
  <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
  <input id="telefone" name="telefone" type="text" placeholder="(99)999999999" class="form-control input-md" required="">

  </div>
</div>


<!-- Button -->
<!-- <div class="form-group">
  <label class="col-lg-4 col-md-4 col-sm-4  col-xs-5control-label" for="cadastrar"></label>
  <label class="col-md-4 control-label" for="Voltar"></label>
  <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5">
    <button id="cadastrar" name="cadastrar" class="btn btn-primary">Cadastrar</button>
      <button id="Voltar" name="Voltar" class="btn btn-default" style="background: blue">Voltar</button>
  </div>
</div> -->

<div class="control-group">
  <label class="control-label" class="col-lg-4 col-md-4 col-sm-4  col-xs-5control-label" for="button1id"></label>
  <div class="controls">
    <button id="cadastrar" name="cadastrar" class="btn btn-success">Confirmar Cadastro</button>
    <button id="Voltar" name="Voltar" class="btn btn-danger">Cancelar</button>
  </div>
</div>


</fieldset>
</form>
<body>
